@import 'reset';
@import 'slideshow';

@font-face {
    font-family: Quentin;
    src: url(https://ashley.how/assets/fonts/Quentin.otf) format("opentype");
}

%bg-blur {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

#container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    display: flex;
    color: white;
    fill: white;

    & a {
        color: white;
        text-decoration: none;
    }
}

.logo-name,
.logo-name-small {
    font-family: Quentin, cursive;
    font-size: 4.5em;
    text-shadow: -7px 13px 8px #ffffff73;
    cursor: pointer;
}

.logo-name-small {
    position: absolute;
    font-size: 1.5em;
    left: 0;
    // right: 0;
    // text-align: center;
    padding: 15px;
}

.menu-open,
.menu-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    z-index: 1;
}

#sidebar {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    @extend %bg-blur;

    .inner-container {
        height: 90%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



    li {
        padding: 15px 0px;
        font-weight: 500;
        font-family: 'Baloo Tamma 2', cursive;
        font-size: 1.2em;
        cursor: pointer;
    }

    .social {
        display: flex;
        justify-content: space-between;

        a {
            position: relative;
            fill: white;

            &:hover>.circle {
                opacity: 1;
            }
        }
    }

}

ul:hover li:not(:hover) {
    opacity: .5;
}

.main {
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-family: 'Mr Dafoe', cursive;
        font-size: 15em;
    }
}

.circle {
    fill: transparent;
    position: absolute;
    left: -9px;
    top: -9px;
    width: 38px;
    height: 38px;
    opacity: 0;
}

.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
    animation: dash 1s linear infinite;
    stroke: white;
    stroke-width: 1px;
    fill: transparent;
}

.dates-container {
    // @extend %bg-blur;
    background: #000000a6;
    padding: 20px;
    border-radius: 10px;

    .row {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        align-items: center;

        .location {
            font-size: 0.9em;
            color: #d8d8d8;
            margin-top: 3px;
        }

        .about {
            width: 70%;

            .title {
                font-size: 1.1em;
            }
        }

        .buy {
            a {
                background: white;
                color: black !important;
                padding: 7px 14px;
                border-radius: 4px;
                font-weight: 600;

                &:hover {
                    box-shadow: 0 0 19px white;
                }
            }
        }
    }
}

.btn-all-dates {
    text-align: center;
    padding-top: 25px;

    a {
        background: white;
        color: black !important;
        padding: 10px;
        border-radius: 5px;
        font-weight: 600;
    }
}

.album-container {
    .album {
        display: flex;
        justify-content: center;
        height: 240px;
        margin: 15px 0;
        background: #161622d1;
        padding: 20px;
        border-radius: 10px;

        &--details {
            padding: 0 100px 0 15px;
        }

        &--title {
            font-size: 1.5em;
        }

        &--social {
            padding: 10px 0;

            svg {
                cursor: pointer;

                &:hover {
                    fill: #ad5957;
                }
            }
        }

        &--year {
            font-size: 1em;
            margin-top: 5px;
        }

        &--tracks {
            width: 40%;

            ol {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 120%;
                list-style-type: lower-roman;
            }

            li {
                margin-bottom: 30px;
            }
        }

        &--artwork {
            width: 200px;
            height: 200px;
            border: 5px solid white;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

#menu-toggle,
.menu-close,
.logo-name-small {
    display: none;
}


@media only screen and (orientation: portrait) {

    // #container {
    //     height: 100%;
    //     width: 100%;
    // }

    #menu-toggle,
    .menu-close,
    .logo-name-small {
        display: flex;
    }

    .main,
    .mySlides,
    #sidebar,
    .slideshow-container {
        width: 100% !important;
    }

    .dates-container {
        background: transparent;

        .row .about {
            width: auto;
        }
    }

    .main h1 {
        font-size: 8em;
    }

    iframe {
        width: 100%;
    }

    .album-container {
        .album {
            height: 100%;
            width: 100%;
            flex-direction: column;
            background: transparent;
            padding: 50px;
            align-items: center;
            text-align: center;
        }

        .album--details {
            padding: 0;
        }


        .album--tracks {
            // width: 100%;

            // ol {
            //     list-style-type: lower-roman;
            // }

            li {
                margin-bottom: 20px;
                margin-left: 0;
            }
        }
    }

    #sidebar {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        text-align: center;
    }
}